---
const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-yellow-400 text-black",
  },
  HTML: {
    name: "HTML",
    class: "bg-yellow-600 text-black",
  },
};

//pendientes los iconos por añadir

const PROJECTS = [
  {
    title: "CRUD operations with prime react - React.js",
    description: "Proyecto ",
    link: "#",
    github: "#",
    image: "https://via.placeholder.com/300X200",
    tags: [TAGS.HTML, TAGS.TAILWIND, TAGS.JAVASCRIPT],
  },
  {
    title: "CRUD operations with prime react - React.js",
    description: "Proyecto ",
    link: "#",
    github: "#",
    image: "https://via.placeholder.com/300X200",
    tags: [TAGS.HTML, TAGS.TAILWIND, TAGS.JAVASCRIPT],
  },
  {
    title: "CRUD operations with prime react - React.js",
    description: "Proyecto ",
    link: "#",
    github: "#",
    image: "https://via.placeholder.com/300X200",
    tags: [TAGS.HTML, TAGS.TAILWIND, TAGS.JAVASCRIPT],
  },
  {
    title: "CRUD operations with prime react - React.js",
    description: "Proyecto ",
    link: "#",
    github: "#",
    image: "https://via.placeholder.com/300X200",
    tags: [TAGS.HTML, TAGS.TAILWIND, TAGS.JAVASCRIPT],
  },
  {
    title: "CRUD operations with prime react - React.js",
    description: "Proyecto ",
    link: "#",
    github: "#",
    image: "https://via.placeholder.com/300X200",
    tags: [TAGS.HTML, TAGS.TAILWIND, TAGS.JAVASCRIPT],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article class="flex border-white w-full h-60 rounded-lg items-center bg-gradient-to-t bg-violet-900/90 mb-10">
      <img
        class="shadow-2xl p-6 shadow-white/10 w-3/12 h-full rounded-lg"
        src={image}
        alt={title}
      />
      <div class="block content-between p-6">
        <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
        <p class="text-lg mb-4 text-pretty">{description}</p>
        <ul class="flex gap-x-2 flex-row">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs font-semibold ${tag.class} py-1 px-2`}
              >
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
      </div>
    </article>
  ))
}
