---
import TailwindIcon from "../components/icons/TailwindIcon.astro";
import ReactIcon from "../components/icons/ReactIcon.astro";
import JavaScriptIcon from "../components/icons/JavaScriptIcon.astro";
import NextIcon from "../components/icons/NextIcon.astro";
import AstroIcon from "../components/icons/AstroIcon.astro";
import NetlifyIcon from "./icons/NetlifyIcon.astro";

const TAGS = {
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white",
  },
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-black text-white ",
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "text-white bg-black",
  },
  REACT: {
    name: "React.js",
    class: "text-white bg-black",
  },
};

//pendientes los iconos por añadir

const PROJECTS = [
  {
    title: "CRUD operations with prime react - React.js",
    description:
      "Proyecto lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec purus feugiat, molestie ipsum et, ultricies nunc. Nulla facilisi. Nullam nec nisi",
    link: "#",
    github: "#",
    image: "https://via.placeholder.com/300X200",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.JAVASCRIPT],
  },
  {
    title: "CRUD operations with prime react - React.js",
    description:
      "Proyecto lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec purus feugiat, molestie ipsum et, ultricies nunc. Nulla facilisi. Nullam nec nisi, lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec purus feugiat, molestie ipsum et, ultricies nunc. Nulla facilisi. Nullam nec nisi",
    link: "#",
    github: "#",
    image: "https://via.placeholder.com/300X200",
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.JAVASCRIPT],
  },
  {
    title: "CRUD operations with prime react - React.js",
    description:
      "Proyecto lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec purus feugiat, molestie ipsum et, ultricies nunc. Nulla facilisi. Nullam nec nisi",
    link: "#",
    github: "#",
    image: "https://via.placeholder.com/300X200",
    tags: [TAGS.ASTRO, TAGS.TAILWIND, TAGS.JAVASCRIPT],
  },
  {
    title: "CRUD operations with prime react - React.js",
    description:
      "Proyecto lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec purus feugiat, molestie ipsum et, ultricies nunc. Nulla facilisi. Nullam nec nisi",
    link: "#",
    github: "#",
    image: "https://via.placeholder.com/300X200",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.JAVASCRIPT],
  },
  {
    title: "CRUD operations with prime react - React.js",
    description:
      "Proyecto lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec purus feugiat, molestie ipsum et, ultricies nunc. Nulla facilisi. Nullam nec nisi",
    link: "#",
    github: "#",
    image: "https://via.placeholder.com/300X200",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.JAVASCRIPT],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article class="flex w-full min-h-60 h-60  rounded-lg items-center  mb-10 p-4 bg-gradient-to-r from-violet-600/30 via-violet-700/25 to-violet-800/15 border border-solid border-gray-600/50 opacity-80">
      <img
        class="shadow-2xl shadow-black w-3/12 min-w-[425px] h-full rounded-xl"
        src={image}
        alt={title}
      />
      <div class="flex flex-col justify-between ml-10 h-full p-1">
        <h3 class="text-3xl font-medium text-[#48dcfa] mb-2">{title}</h3>
        <p class="text-base mb-4 text-white opacity-90 text-pretty  max-w-fit">
          {description}
        </p>
        <div class="flex content-center w-auto">
          <button class="flex items-center justify-center gap-1 p-1 w-40 h-auto border border-white mr-7 rounded-full bg-black">
            <NetlifyIcon class="size-4" />
            <p>Ver proyecto</p>
          </button>
          <ul class="flex gap-x-2 flex-row items-center">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex items-center gap-x-2 rounded-full text-xs font-semibold ${tag.class} py-1 px-3 border-2 border-solid shadow-[0px_0px_15px_blue,0px_0px_15px_blue_inset]`}
                >
                  {tag.name === "Tailwind CSS" && (
                    <TailwindIcon class="size-4" />
                  )}
                  {tag.name === "React.js" && <ReactIcon class="size-4" />}
                  {tag.name === "JavaScript" && (
                    <JavaScriptIcon class="size-4" />
                  )}
                  {tag.name === "Next.js" && <NextIcon class="size-4" />}
                  {tag.name === "Astro" && <AstroIcon class="size-4" />}
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
        </div>
      </div>
    </article>
  ))
}
